<!DOCTYPE html>
<html>
  <head>
  	<title>Login page</title>
  	<link rel="stylesheet" href="{% static 'main1.css' %}">
  </head>
  <body class="p">
  	<div class="login-page">
	       <div class="form">
		     <form class="register-form">
  	            <input type="email" placeholder="Enter email" required><br>
  	            <input type="password" placeholder="Enter password" required><br>
  	            <button>Login</button>
                   <p>New user?<a href="portal.html">Register</a></p>
  	        </form>
  	    </div>
  	</div>
  </body>
</html>
