<!DOCTYPE html>
<html>
    <head>
    	<title>Registration page</title>
    	<link rel="stylesheet" href="main.css">
    </head>
    <body class="p">
       <div class="login-page">
	       <div class="form">
	       	<h1 style="color:green;">Register</h1>
		      <form class="register-form">
			    <input type="text" placeholder="Team name" required><br>
			    <input type="text" placeholder="Add team members" required><br>
			    <select name="branch">
			    	<option>CSE</option>
			    	<option>IT</option>
			    	<option>ETC</option>
			    	<option>EEE</option>
			    	<option>CIVIL</option>
			    	<option>MECH</option>
			    </select><br>
			    <input type="text" placeholder="Year of passout" required><br>
			    <input type="email" placeholder="Enter email" required><br>
			    <input type="password" placeholder="Enter password" required><br>
			    <button>Register</button>
			    <p>Already registered?<a href="login.html">Login</a></p>
	         </form>
	     </div>
       </div>
   </body>	
</html>